.features {
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-gray-color;
    margin-bottom: 30px;
    display: block;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    margin: 60px;
  }

  @media (min-width: 1200px) {
    @media (min-width: 768px) {
      &__list {
        &__list-item {
          display: flex;
          flex-wrap: wrap;
          flex-basis: calc(100% - 30px);
          max-width: 354px;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    &__title {
      justify-content: flex-start;
      text-align: left;
    }
  }

  @media (min-width: 1200px) {
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin-top: -60px;
    }
  }
  @media (min-width: 1200px) {
    &__list-item {
      flex-wrap: wrap;
      flex-basis: calc(100% - 30px);
      max-width: 270px;
    }
  }
}
