.features {
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
    text-align: center;
    margin-bottom: 10px;
    @extend %flexbox;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-gray-color;
    margin-bottom: 30px;
    display: block;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    display: flex;
    justify-content: center;
    margin: 60px;
  }
}
@media (min-width: 768px) {
  .features {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      &-item {
        flex-basis: calc((100% - 30px)) / 2;
        max-width: 354px;
      }
    }
    &__title {
      justify-content: flex-start;
    }
  }
}
@media (min-width: 1200px) {
  .features {
    &__list-item {
      display: flex;
      flex-wrap: wrap;
      flex-basis: calc((100% - 30px * 3) / 4);
      max-width: 270px;
    }
    &__title {
      justify-content: flex-start;
      text-align: left;
    }
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
