.header {
  border-bottom: 1px solid $header-color;

  &__wrapper {
    display: block;
    padding: 16px 15px;
  }

  &__navigation-menu > &__nav-item{
    display: none;
  }

  &__link-item{
    list-style-type: none;
  }

&__link-item > &__contacts-item{
  display: none;
}


&__contacts-icon {
  display: none;
}

@media screen and (min-width: 1200px) {
  &__contacts-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;
  }
}
}