
.modal{
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: fixed;
    z-index: 1;
    transition-property: opacity, transform;
    transition-duration: 1s;
    transform: translateX(-50%) translateY(-50%) scale(1) skew(0deg, 0deg);
    opacity: 1;
    visibility: visible;
    display: block;
}


.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
  }

  
.backdrop {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transform: scale(1);
    transition-property: visibility, opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  