body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }

  .section {
    padding: 94px 0;
  }
}
