* {
  margin: 0;
  padding: 0;
  border: 0;
}
 
  $header-color: #ececec;
  $brand-color: #2196f3;
  $main-color: #212121;
  $background-gray-color: #2f303a;
  $main-gray-color: #757575;
  $black-color: #000000;
  $white-color: #ffffff;
  $light-color: #f5f4fa;
  $projects-color: #eeeeee;
  $lightgray-color: #afb1b8;
  $shadow-portfolio1: rgba(0, 0, 0, 0.12);
  $shadow-portfolio2: rgba(0, 0, 0, 0.06);
  $shadow-portfolio3: rgba(0, 0, 0, 0.16);
  $border-color: rgba(33, 33, 33, 0.2);
  $box-shadow-color: rgba(0, 0, 0, 0.15);
  $footer-light-color: rgba(255, 255, 255, 0.6);
  $footer-dark-color: rgba(255, 255, 255, 0.1);

